/* Universal Selector */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 0px;
}

/* colors
#14080E     Background
#49475B     gameboard
#799496     cell
#ACC196     hover effect
#E9EB9E     winning effect
*/



            /* body */
body {
    margin-top: 2em;
    background-color: #14080E;
}

            /* Header */
header {
color: #E9EB9E;
font-size: 1.5rem;
display: flex;
justify-content: center;
margin-bottom: 1em;
}

            /* Main */

/* Container */
.container {
    width: 70%;
    max-width: 500px;
    min-width: 260px;
    aspect-ratio: 1 / 1;
    max-height: 500px;
    min-height: 260px;
    background-color: #49475B;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1.3em;
    justify-content: space-evenly;
    border-radius: 1.88em;
    padding: 1em;
}
    /* Box */
.box{
    width: 29%;
    aspect-ratio: 1 / 1;
    background-color: #799496;
    font-size: 3.5rem;
    color: #DADADA;
    border-radius: 0.5em;
}

    /* Button */
.btn {
    display: flex;
    justify-content: center;
}
.playAgain {
    font-size: 1.5rem;
    padding: 0.5em;
    margin-top: 1em;
    background-color: #ACC196;
    color: #14080E;
}
.btn button:hover{
    cursor: pointer;
    background-color: #799496;
    color: #E9EB9E;
}

    /* Winner Message */
main {
    position: relative;
}
.winnerMsg {
    font-size: 3rem;
    padding: 0.2em 3em;
    background-color: #E9EB9E;
    color: #14080E;
    display: flex;
    position: absolute;
    top: 28vh;
    left: 34vw;
    display: none;
}